@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Manrope', sans-serif;
    }
}

@layer components {
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }

    .sidebar-item-active {
        background-color: rgba(255, 255, 255, 0.15) !important;
        border-left: 4px solid white !important;
        color: white !important;
    }
}
